#main
	padding 0
	overflow hidden
.main-title
	font-size: 36px
	font-family: SUDB
	font-weight: bold
	color cB
	margin-bottom: 30px
	small
		display block
		font-size: 18px
		font-family: 'SFUIDisplayLight',sans-serif;
		font-weight: 100;
		text-transform: uppercase;
		color: #adadad;
		letter-spacing: 0.3em;
.main-subtitle
	font-size: 24px
	line-height: 1.4
.main-info
	font-size: 20px
	span
		font-family: SUDB
		font-weight: bold
		display inline-block
	&:last-of-type
		margin 5px 0 40px
.main-img
	position relative
	padding-top: 100%
	img
		position absolute
		// width 100%
		bottom: 0