#plan
	padding 45px 0 90px
	overflow hidden
.module
	position relative
.general-img-plan-1
	top -45px
	left -190px
.general-img-plan-2
	top -45px
	right -240px
.general-img-plan-3
	bottom: -90px
	right: -180px
.general-img-module-1-1
	top 700px
	left -140px
.general-img-module-2-1
	top 200px
	left -210px
.general-img-module-2-2
	top 200px
	right -340px
.general-img-module-3-1
	top 200px
	right -290px
.general-img-module-3-2
	top 700px
	left -260px
.general-img-module-3-3
	bottom:  400px
	right -190px
.module-title
	font-size: 36px
	font-family: SUDB
	font-weight: bold
	color #ADCEFF
	transition: all .3s ease
	margin-bottom: 35px
	cursor pointer
	position relative
	z-index: 42
	&:hover
		color cB
	&.active
		color cB
.module-item-container
	background-color #fff
	display none
	margin-bottom: 40px
	position relative
	z-index: 40
	&-1
		display block
.module-item
	margin-bottom: 40px
	&-title
		margin-bottom: 0
		font-size: 24px
		font-family: SUDB
		font-weight: bold
		color cB