#lets
	padding 60px 0
	overflow hidden
.general-img-lets-1
	top 400px
	left -220px
.general-img-lets-2
	top -400px
	right -220px
.general-img-lets-3
	bottom:  300px
	right -220px
.general-img-padded-lets
	top 100px
	left 0
.button-lets
	margin-top: 60px