#prices
	padding 90px 0
	overflow hidden
.general-img-prices-1
	top 300px
	left -190px
.general-img-prices-2
	top 300px
	right -170px
.general-img-prices-3
	bottom: 500px
	left -110px
.general-img-prices-4
	top:  900px
	right -170px
.packet
	border: 3px solid #247CFF;
	background-color #fff
	width 100%
	max-width 360px
	margin 0 auto 30px
	text-align center
	&-head
		padding 20px 20px 0
		&-title
			color: cB
			font-size: 24px
			font-family: SUDB
			font-weight: bold
			line-height: 36px
	&-body
		padding 20px
		&-list
			li
				list-style: none
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
		&-text
			margin-top: 20px
			text-transform uppercase
			color: cB
			letter-spacing: 0.3em;
			span
				font-family: SUDB
				font-weight: bold
			&-else
				color cB
				font-family: SUDB
				font-weight: bold
				margin-top: 10px
		&-bonus-title
			text-transform uppercase
			color: cB
			font-family: SUDB
			font-weight: bold
			margin-top: 20px
			font-size: 24px
		&-bonus-list
			li
				text-transform uppercase
				list-style: none
				margin-top: 5px
.cost
	font-size: 24px
	text-transform uppercase
	margin-bottom: 15px
	line-height: 36px
	font-family: SUDM
	font-weight: 600
	padding 0 20px
	span
		display block
		font-size: 32px
		font-family: SUDB
		font-weight: bold
	&-full
		span
			text-decoration line-through
			&.unbroken
				text-decoration none
	&-sale
		color red
	&-today
		color #32CD32
		margin-bottom: 20px
.button-cost
	width 100%
.prepayment
	text-align center
	&-title
		font-size: 32px
		font-family: SUDB
		font-weight: bold
		color red
		text-transform uppercase
	&-text
		font-size: 20px
		margin 10px 0 20px
.timer-title
	line-height: 1.1
	margin 60px 0 30px
	text-align center
	font-size: 32px
	font-family: SUDB
	font-weight: bold
	color red
	text-transform uppercase
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 20px
.flip-clock-divider .flip-clock-label
	color #000
.flip-clock-dot
	background-color: cB
	box-shadow: none
.flip-clock-wrapper ul li a div div.inn
	color: #fff
	background-color: cB
	border-radius: 0
	text-shadow: none
	box-shadow: none
.flip-clock-wrapper ul
.flip-clock-wrapper ul li a div.down
	border-radius: 0
.flip-clock-wrapper .flip
	box-shadow: none