@import 'base/1.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/owl.carousel.min.css'
@import '../_css/owl.theme.default.min.css'
@import '../_css/popup.css'
@import '../_css/flipclock.min.css'

@import 'base/2.base'

@import 'base/3.header'
@import 'course/1.main'
@import 'course/2.for'
@import 'course/3.plan'
@import 'course/4.lets'
@import 'course/5.techs'
@import 'course/6.prices'
@import 'main/6.author'
@import 'main/7.revs'
@import 'main/8.last'
@import 'base/4.footer'
@import 'course/7.medias'