@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.main-title
		font-size: 30px
	header
		margin-bottom: 100px
@media screen and (max-width 560px)
	header
		padding 10px 0
		margin-bottom: 20px
	.header-logo
		width 70px
	.contacts
		width 210px
	.contact
		font-size: 12px
		line-height: 30px
	.main-title
		font-size: 22px
		h5
			font-size: 18px
	.soc-button a
			margin 10px 5px
@media screen and (max-width 385px)
	header
		margin-bottom: 10px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		margin 0 auto
	.main-title
		font-size: 20px
	.intl-tel-input .country-list
		width auto
	.general-img-main-1
		left -260px