-var path = '../';
-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis-2/course/';
-var head_title = '«Нейролингвистическое программирование и гипноз»';
-var head_description = 'Обучающий курс Виктора Толстикова';
-var styles = path+'css/course.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/course.min.js';
-var footer_title = true
-var oferta = 'https://mastervision.su/oferta-s.docx'
-var href="#prices";

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl,href,p,target,id)
	a.button.button-up(class=cl href=href target=target id=id)=p
mixin b2(cl,href,p,target,id)
	a.button(class=cl href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		//- include pug/base/1.header.pug
		include pug/course/1.main.pug
		include pug/course/2.for.pug
		include pug/course/3.plan.pug
		include pug/course/4.lets.pug
		include pug/course/5.techs.pug
		include pug/course/6.prices.pug
		include pug/main/6.author.pug
		include pug/main/7.revs.pug
		include pug/course/7.last.pug
		include pug/base/2.footer.pug
		include pug/base/3.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts