-var path = '';
-var head_url = 'https://tolstikov.mastervision.su/nlp-and-hypnosis-2/';
-var head_title = '«Нейролингвистическое программирование и гипноз»';
-var head_description = '3-дневный мастер-класс Виктора Толстикова';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/scripts.min.js';
-var action = 'https://shop.mv-centr.ru/?r=personal/newsletter/sub/add&id=25863&lg=ru&Contact[id_newsletter]=';
-var group = '166';
-var formId = '148';
-var formVc = '3852563066';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var href="#Modal";

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl,href,p,target,id)
	a.button.button-up(class=cl href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		//- include pug/base/1.header.pug
		include pug/main/1.main.pug
		include pug/main/2.video.pug
		include pug/main/3.for.pug
		include pug/main/4.plan.pug
		include pug/main/5.lets.pug
		include pug/main/6.author.pug
		include pug/main/7.revs.pug
		include pug/main/8.last.pug
		include pug/base/2.footer.pug
		include pug/main/9.modal.pug
		include pug/base/3.scripts.pug
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts