@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 100px
@media screen and (max-width 991px)
	#main
		text-align: center
		padding-bottom: 20px
	audio
		margin 0 auto
	.main-img
		padding-top: 90%
		img
			top 60px
@media screen and (max-width 560px)
	header
		padding 10px 0
		margin-bottom: 20px
	.header-logo
		width 70px
	.contacts
		width 210px
	.contact
		font-size: 12px
		line-height: 30px
	.main-text
		font-size: 14px
	.main-title
		font-size: 24px
		margin 10px 0 15px
	.main-img img
		top 30px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-button a
			margin 10px 5px
@media screen and (max-width 385px)
	header
		margin-bottom: 10px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		margin 0 auto
	.main-text
		font-size: 12px
	.main-title
		font-size: 20px
		margin 10px 0 15px