@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
@media screen and (max-width 1199px)
	.main-img img
		bottom: auto
		top 0
	.input-mail-main
		float: none
		display block
		margin: 0 auto 10px 0
	.button-form-main
		float: none
		width 100%
		max-width 280px
		display block
	.checking-main
		max-width 280px
	.checking .check-label
		line-height: 18px
	.switched-form
		.input-mail-main
			margin-left: auto
		.button-form-main
			margin 0 auto
		.checking-main
			margin  5px auto 0
	.checking-modal
		max-width 290px
@media screen and (max-width 991px)
	#main
		text-align: center
		padding 0
	.input-mail-main
		margin 0 auto 10px
	.button-form-main
		margin 0 auto
	.checking
		max-width 280px
		margin 5px auto 0
	.main-img
	.general-img-padded-for-if
	.general-img-padded-lets
	.general-img-padded-author
		padding 0
		position: static
		img
			position static
			display block
			margin 0 auto
			width 100%
			max-width 800px
	.video-wrapper-video
		max-width 650px
		margin-bottom: 30px
	#video
	#for
	#plan
	#lets
	#author
	#revs
	.for-wish
		padding 40px 0
	.general-img-padded-for-if img
		margin-top: 40px
	.general-img-padded-lets
		margin 40px auto
	.general-title
		font-size: 30px
		margin-bottom: 30px
	#last
		padding 40px 0 60px
	.last-text
		font-size: 22px
		margin 20px 0 30px
@media screen and (max-width 767px)
	.mfp-arrow
		top: auto
		bottom: 15px
@media screen and (max-width 595px)
	header
		padding 10px 0
		margin-bottom: 20px
	.header-logo
		width 70px
	.contacts
		width 210px
	.contact
		font-size: 12px
		line-height: 30px
	.main-title
		font-size: 28px
		line-height: 1.1
		margin-bottom: 15px
	.main-subtitle
		font-size: 20px
	.main-info
		font-size: 18px
	.main-info:last-of-type
		margin-bottom: 20px
	.form-title
		font-size: 22px
		margin-bottom: 15px
	.general-text
		margin-bottom: 10px
	.general-title
		font-size: 24px
	.general-subtitle
		font-size: 16px
		margin-bottom: 15px
	.button-for
	.button-lets
		margin-top: 30px
	.master-class-title
		font-size: 24px
	.general-subtitle-plan
		margin 20px 0 15px
	.master-class
		padding-bottom: 30px
	.master-classes
		margin-bottom: 25px
	.general-ol-list li
		display block
		overflow hidden
		display block
		&:before
			display inline-block
			line-height: 48px
			float left
		span
			display inline-block
			float left
			padding-left: 20px
			width calc(100% - 50px)
	.author-title
		font-size: 24px
	.general-ul-list-author li
		padding 10px 0
	#video-revs
		margin-bottom: 40px
	.cert-img
		height 100px
		margin-bottom: 10px
	.author-certs
		padding-top: 30px
	.last-text
		font-size: 20px
	footer
		padding 15px 0
		font-size: 12px
@media screen and (max-width 385px)
	header
		margin-bottom: 10px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		margin 0 auto
	.main-title
		font-size: 20px
		margin-bottom: 10px
	.main-subtitle
		font-size: 18px
	.general-title
		font-size: 22px
	.general-ol-list li
		&:before
			display block
			float none
			margin-bottom: 10px
		span
			display block
			padding-left: 0
			width 100%
	.general-img-for-2
		right: -250px
	.mfp-close
		top -5px
		right -5px
	.master-class-title
		font-size: 22px
	.general-subtitle-plan
		font-size: 14px
	.master-classes
		margin-bottom: 0
	#author, #for, #lets, #plan, #revs, #video, .for-wish
		padding 30px 0
	.button-for, .button-lets
		margin-top: 20px
	.author-title
		font-size: 22px
		margin-bottom: 10px
	.text-rev-img
		height 70px
	.last-text
		font-size: 18px
	#last
		padding 30px 0 40px
	.mfp-arrow
		bottom: 100px
	.switched-form .button-form-main
		min-width auto !important