#for
	padding 60px 0
	overflow hidden
.general-img-for-if-1
	top 100px
	left -230px
.general-img-padded-for-if
	img
		width 760px
		top 0
		left 0
.for-wish
	padding 60px 0
.general-img-for-wish-1
	top 400px
	left -320px
.general-img-for-wish-2
	top 400px
	right -270px
.general-img-for-1
	bottom:  -120px
	left -200px
.general-img-for-2
	top 20px
	right -200px
.button-for
	margin-top: 50px