#plan
	overflow hidden
	padding 60px 0
.general-img-plan-1
	top 300px
	left -150px
.general-img-plan-2
	top 100px
	right -170px
.general-img-plan-3
	bottom:  0
	right -170px
.master-classes
	margin-bottom: 40px
.general-subtitle-plan
	margin 30px 0
.master-class
	padding-bottom: 40px
	&-container
		display none
		&-1
			display block
	&-title
		cursor pointer
		font-size: 30px
		font-family: SUDB
		font-weight: bold
		// margin-bottom: 30px
		color #ADCEFF;
		transition: all .3 ease-out
		&.active
		&:hover
			color cB
	&-text
		margin-top: 20px
		font-size: 20px
		span
			font-family: SUDB
			font-weight: bold
			color cB
.button-plan
	margin-top: 40px