#author
	overflow hidden
	padding 60px 0
.general-img-author
	top 100px
	left -270px
.author-title
	font-size: 30px
	font-family: SUDB
	font-weight: bold
	margin-bottom: 20px
.general-ul-list-author li
	border-bottom: 0
.general-img-padded-author
	img
		width 100%
		top 0
		left 100px
.author-certs
	padding-top: 60px
// #certs
// 	width 120%
// .owl-carousel .owl-item img
	// width 200px
.cert-img
	width 100%
	max-width 260px
	display block
	margin 0 auto
	height 200px
	object-fit: contain
	object-position: center
.owl-theme .owl-nav
	width 400px
	text-align left
.owl-theme .owl-nav [class*="owl-"]
	color #000
	font-size: 36px
	line-height: 1.1
	font-family: SUDM
	background-color: transparent
	opacity 1
	padding 0
	margin 0
	&:hover
		background-color: transparent
		color cB
.owl-theme .owl-nav .owl-next
	margin-left: 10px