#revs
	padding 60px 0
	overflow hidden
.general-img-revs-1
	top 300px
	left -160px
.general-img-revs-2
	top 0
	right: -190px
#video-revs
#text-revs
	width 150%
	transition: all .6s ease
	position relative
	left 0
#video-revs
	margin-bottom: 60px
.text-rev-img
	height 100px
	width auto
	object-fit: cover
	offset-position: center
.toLeft
	left -200px