#last
	padding 60px 0
	overflow hidden
	text-align center
.general-img-last-1
	top 0
	left -200px
.general-img-last-2
	bottom -150px
	right -250px
.last-text
	font-size: 30px
	margin 40px 0
	position relative
	z-index 40