*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: SUDL
	color #000
	background-color #fff
	line-height: 1.5
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	top 0
	// z-index 60
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 0
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
		margin 0 auto
.container
	position relative
	z-index 50
.button-wrapper
	text-align center
.button
	display inline-block
	text-align center
	margin 0
	text-decoration none
	color: #fff
	width: auto
	padding 17px 60px
	background-color: cB
	transition: all .3s ease
	position relative
	z-index 50
	&:focus
		text-decoration none
		color #fff
	&:hover
		background-color: cB - 15%
		text-decoration none
		color #fff
.general-title
	font-size: 36px
	font-family: SUDB
	font-weight: bold
	margin-bottom: 40px
	position relative
	z-index 50
	&-center
		text-align center
.general-subtitle
	margin 0 0 25px
	font-family: SUDL
	font-weight: 100
	text-transform uppercase
	color:  #ADADAD;
	letter-spacing: 0.3em;
.general-text
	margin-bottom: 20px
	span
		color cB
		font-family: SUDB
		font-weight: bold
	&:last-of-type
		margin-bottom: 0
hr
	height 1px
	border-top: 1px solid #D9D9D9;
	margin 15px 0
.general-img
	position absolute
.general-img-padded
	position relative
	img
		position absolute
.general-list
	list-style: none;
	li
		padding 20px 0
		border-bottom: 1px solid #D7D7D7;
		display table
		width 100%
		font-family: SUDM
		span
			display table-cell
			vertical-align middle
			padding-left: 30px
.general-ol-list
	counter-reset: my-counter;
	li
		counter-increment: my-counter;
		&:before
			display table-cell
			vertical-align middle
			content: counter(my-counter)
			font-size: 24px
			font-weight: bold;
			width 50px
			height 50px
			border-radius: 50%
			border: 2px solid cB
			line-height: 20px
			text-align center
			color cB
.general-ul-list
	li
		position relative
		&:before
			content: ''
			display block
			position absolute
			border-radius: 50%
			background-color: cB
			width 15px
			height 15px
			left 0
			top calc(50% - 7.5px)