header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.header-logo
	float left
.contacts
	float: right
	text-align right
	display table
	width 290px
.contact
	display table-cell
	vertical-align: middle
	line-height: 42px
	font-size: 16px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000