section#video
	.container
		img(src=path+"img/icons/t-dashes.png", alt="Изображение 1 блока").general-img.general-img-video-1
		img(src=path+"img/icons/dashes.png", alt="Изображение 2 блока").general-img.general-img-video-2
		.row
			.col-md-6
				.video-wrapper.video-wrapper-video
					iframe(src="https://youtube.com/embed/BDj_27v4SoE?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
			.col-md-6
				p.general-text
					span Техники нейролингвистического программирования и гипноза 
					| - представляют из себя продукты моделирования эффективных и успешных ораторов, переговорщиков, психотерапевтов, руководителей, и множества других успешных и неординарных людей
				p.general-text НЛП и Гипноз - это безграничное количество ресурсов и возможностей для самосовершенствования и воплощения практически любых Ваших целей. 