section#lets
	.container
		img.general-img.general-img-lets-1(src=path+"img/icons/dashes.png", alt="Черточки")
		+gt('general-title-center','Мастер-класс позволит вам:')
		.row
			.col-md-8
				ol.general-list.general-ol-list
					each item in ['Научиться определять, где правда, а где ложь', 'Начать влиять на людей и ситуации, чтобы всегда получать желаемое','Узнать, как заручиться поддержкой нужных вам людей','Получить инструменты для увеличения финансового потока через освобождение от блокирующих установок','Открыть в себе новые возможности и раскрыть потенциал','Обрести силы и вдохновение на новые свершения','Узнать, как расстаться с пагубными привычками и пристрастиями','Встать на путь к обретению здоровья и долголетия','Обрести уверенность в себе и гармонию с миром и самим собой']
						li
							span=item
			.col-md-4
				.general-img-padded.general-img-padded-lets
					img(src=path+"img/images/meditating.png", alt="Девушка медитирует")
		.button-wrapper
			+b('button-lets',href,'Записаться')