section#lets
	.container
		img.general-img.general-img-lets-1(src=path+"img/icons/dashes.png", alt="Черточки")
		img.general-img.general-img-lets-2(src=path+"img/icons/dashes.png", alt="Черточки")
		+gt('general-title-center','Курс позволит вам:')
		.row
			.col-md-8
				ol.general-list.general-ol-list
					each item in ['Научиться моментально определять психотипы людей', 'Узнать, как видеть людей насквозь и читать их мысли','С лёгкостью распознавать ложь и манипуляции','Нравиться людям и вызывать интерес к себе','Вызывать доверие и уважение к себе','Освоить искусство убеждения, технологии влияния, психотехнологии исполнения желаний','Противодействовать любым манипуляциям','Понять секреты успеха гениев и миллионеров','Получить инструменты для ускоренного саморазвития','Отличать свои истинные мечты от навязанных','Узнаете эффективные методы достижения целей','Избавиться от страхов, комплексов, вредных привычек','Узнать, как незаметно гипнотизировать человека','Рассказывать истории, меняющие сознание','Наделять свои слова особой силой и управлять процессами в своём организме','Раскрыть в себе необычные способности']
						li
							span=item
			.col-md-4
				.general-img-padded.general-img-padded-lets
					img(src=path+"img/images/meditating.png", alt="Девушка медитирует")
		.button-wrapper
			+b('button-lets',href,'Записаться')