section#technics
	.container
		img.general-img.general-img-technics-1(src=path+"img/icons/4-corners.png", alt="Пирамидки")
		+gt('','Техники, которые Вы освоите на курсе:')
		.row
			.col-md-6.col-md-push-6
				.general-img-padded.general-img-paddet-technics
					img(src=path+"img/images/siting.png", alt="Девушка сидит")
			.col-md-6.col-md-pull-6
				ul.general-list.general-ul-list
					li
						span Нейролингвистическое программирование
					li
						span Состояние измененного сознания (транс)
					li
						span Систематические внушения и аффирмации
					li
						span Описание и модели человеческого опыта
					li
						span Шаблоны эффективного поведения и мышления