section#last
	.container
		img.general-img.general-img-last-1(src=path+"img/icons/dashes.png", alt="Черточки")
		img.general-img.general-img-last-2(src=path+"img/icons/signa.png", alt="Роспись")
		+gt('','Начните сейчас!')
		p.last-text Более 20 000 учеников доверяют нам и реализуют свои цели!
		+b('',href,'Записаться')